body{
   -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.MoneyButton{
display:block;
border-style:solid;
border-color:#bbb #888 #666 #aaa;
border-width:3px 4px 4px 3px;
width:150px;
height:25px;
background:#ccc;
color:#333;
line-height:2;
text-align:center;
text-decoration:none;
font-weight:900;
}
.MoneyButton:hover{
border-color: #666 #aaa #bbb #888;
border-width:4px 3px 3px 4px;
color:#000;
}

.tool{
   display:block;
   border-style:solid;
   border-color:#bbb #888 #666 #aaa;
   border-width:1px 2px 2px 1px;
   width:25px;
   height:25px;
   background:#ccc;
   color:#333;
   line-height:2;
   text-align:center;
   text-decoration:none;
   font-weight:900;
}

.block{
   display:block;
   border-style:solid;
   border-color:#bbb #888 #666 #aaa;
   border-width:1px 2px 2px 1px;
   width:25px;
   height:25px;
   background:#ccc;
   color:#333;
   line-height:2;
   text-align:center;
   text-decoration:none;
   font-weight:900;

}
